<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
</head>

<body>
    <table>
        <tr>
            <th>Pagina</th>
            <th>Numero de Visitas</th>

        </tr>
        <tr>
            <td>Inicio</td>
            <td>{{home}}</td>
        </tr>

        <tr>
            <td>Sobre Nosotros</td>
            <td>{{sobreNosotros}}</td>
        </tr>
        <tr>
            <td>Contacto</td>
            <td>{{contacto}}</td>
        </tr>

    </table>
</body>

</html>