<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pagina de Inicio</title>
      <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Nunito:300,400" rel="stylesheet"> 
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
     <h1>Pagina Inicio</h1>
 <a href="/admin">ir a Admin</a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, amet molestias temporibus autem nisi hic qui ducimus, nostrum quos corrupti, ipsum quibusdam doloribus totam optio. Natus ipsum dolore deserunt velit.</p>

    <a href="/sobreNosotros">Sobre Nosotros</a>
     <a href="/contacto">Contacto</a>

     
</body>
</html>