*{
    margin:50px;
}

h1{
  font-family: 'Nunito',sans-serif;
  
}

p{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color:white;
    background-color:#24A7B3;
    padding: 10px; 
}