*{
    margin:50px;
}

h1{
  font-family: 'Nunito',sans-serif;
  
}

p{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color:white;
    background-color:#24A7B3;
    padding: 10px; 
}

table{
    margin:100px;
  
   
}

th{
    background-color:#24A7B3;
    font-family: 'Nunito',sans-serif;
    color:white;
}

td{
  
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}